{% extends 'base.html' %}


{% block head %}
<title>Subreddit Statistics</title>
{% endblock%}

{% block body %}
<h1>Subreddit Statistics</h1>

<h3>Overview: </h3>
<p id="title"> Title: {{ title }}</p>
<p id="description">Description: {{ description }}</p>
<p id="subscriber_count"> Subscriber Count:  {{ subscriber_count }}</p>

<h3>Your Post History: </h3>
<p id="post_count"> Post Count: {{ post_count }} </p>
<div id="post_proportion"></div>

<h3>Your Comment History: </h3>
<p id="comment_count">Comment Count: {{ comment_count }} </p>
<div id="comment_proportion"></div>
{% endblock%}
