{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
<div id="loading" class="container">
    <div class="spinner mt-4">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container rounded shadow p-2  mb-5 bg-white rounded pb-5 mt-5 content">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
            <p class="text-start ps-3">
            Welcome to Reddit Recovery Support. Use this dashboard to see your engagement patterns
            over various recovery related subreddits.
            <br><br>
            Before you sign in, please log into the Reddit account that you most often use to discuss
            substance use/ recovery

        </p>
        </div>
            <div class="col-lg-6 ">
                <div class="mt-5 w-50 border rounded shadow-sm mt-2 mx-auto p-3 text-center">
                    <p class="text-center">
                    {% if current_user.is_authenticated %}
                    Click here to load dashboard
                    {% else %}
                    By clicking "Link Account" you will authorize the support dashboard to pull your post, comment
                    and upvote history
                    {% endif %}
                    </p>
                    {% if current_user.is_authenticated %}
                    <div class="mt-5">
                        <a class="btn btn-sm btn-success" onclick="loading();" href="{{ url_for('dashboard_page') }}">Go to dashboard</a>
                    </div>
                    {% else %}
                    <div class="mt-5">
                        <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Link Account</a>
                    </div>
                    {% endif %}
                    
            </div>
        </div>
    </div>
</div>
<div class="nothing ms-5">
    Created by Lydon, Karen, Grace, Monty, Quinton and Henry. 
</div>
<!-- Script that handles the loading transition (using jQuery)-->
<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show(300);
        $(".content").hide();       
        $(".nothing").hide();       
    }
// ]]></script>
{% endblock %}