{% block head %}
    <title> User Dashboard</title>
{% endblock%}
    
{% block body %}
    <h1> User Dashboard</h1>
    <p> (insert user dashboard stuff here...)</p>

    <h2>Top 10 Subreddits</h2>
    <ol>
        <li><a href="/subreddit/stopdrinking">stopdrinking</a></li>
        <li><a href="/subreddit/serviceadvisors">serviceadvisors</a></li>
        <li><a href="/subreddit/crochet">crochet</a></li>
        <li><a href="/subreddit/datingover30">datingoverforty</a></li>
        <li><a href="/subreddit/Justrolledintotheshop">Justrolledintotheshop</a></li>
        <li><a href="/subreddit/OkCupid">OkCupid</a></li>
        <li><a href="/subreddit/antiwork">antiwork</a></li>
        <li><a href="/subreddit/arbedeenwa">arbedeenwa</a></li>
        <li><a href="/subreddit/FriendsOver40">FriendsOver40</a></li>
        <li><a href="/subreddit/farcry">farcry</a></li>
    </ol>
{% endblock%}
